body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-family: 'Roboto', sans-serif;
  letter-spacing: .09375em;
  overflow-x: hidden;
  background-color: #EDEDED;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #FFFFFF;
}

header, .header-container {
  width: 100%;
}

.header-container, .header-logo {
  position: relative;
  height: inherit;
}

.header-container {
  /*padding: 0 1.25em;*/
}

.header-nav {
  position: absolute;
  top: 0;
  right: 1.25em;
  bottom: 0;
  left: 1.25em;
  height: inherit;
}

.list-nav {
  padding: 1em 0;
  list-style-type: none;
  margin: 0;
}

.list-nav li:first-child {
  margin-top: 0;
}

.list-nav-elem {
  margin: 0 -.625em;
  padding: 0;
}

.list-nav-elem a {
  padding: 0 .625em;
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

.list-nav-elem a:hover{
  color: #3ACCB0;
}

.list-nav-elem-left {
  float: left;
}

.list-nav-elem-right {
  float: right;
}

.header-logo {
  width: 3em;
  margin: 0 auto;
  z-index: 1;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

#headerIcon {
  width: inherit;
  height: 100%;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

#menuIcon {
  padding: 2px 10px;
}

#settingsIcon {
  padding: 0 10px;
}

/* MAIN */

main {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.location-info {
  margin: 1.875em 0;
  color: #7F507B;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

#location {
  padding: .25em 0;
  font-weight: 600;
  font-size: 2em;
}

#description {
  font-weight: 200;
}

/* MODULAR GRID */

.module-container {
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.grid {
  width: calc(90%);
  padding: 5%;
  border-radius: 5px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  width: calc(90% / 3);
}

.gutter-sizer {
  width: 4%;
}

.grid-item {
  width: calc((100% / 3) - 4.5%);
  height: 0;
  padding-bottom: calc((100% / 3) - 4.5%);
  float: left;
  background-color: #3ACCB0;
  border-radius: 5px;
  text-align: center;
}

.grid-item-width3 {
  width: 90%;
  height: 0;
  padding-bottom: 50%;
  background-color: #7F507B;
  text-align: left;
}

.grid-item:hover {
  border-color: #FFFFFF;
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2;
}

.packery-drop-placeholder {
  border: 1px dashed #1E1E1E;
  border-radius: 5px;
  margin: -1px -1px 0 0;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.current-temp {
  display: inline-block;
  padding: 30px 0 30px 30px;
  font-size: 6.25em;
}

sup {
  font-size: 60%;
  vertical-align: super;
}

.forecast-temp {
  display: inline-block;
  padding: 40px 30px 40px 0;
  float: right;
  text-align: right;
  font-size: 2.5em;
  opacity: 0.8;
}

.current-wind, .current-cloud, #cloud-canvas {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speed {
  font-size: 2em;
}

.units {
  font-size: 0.4375em;
}

#direction, #cloud-circle, .canvas-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: auto;
}

#cloud-canvas {
  width: 78%;
  height: 78%;
}
